h1{
    background-color: #F4F1EA;
    color: rgba(123, 33, 33, 0.963);
    text-align: center;
}

nav{
    background-color: palevioletred;
    height: 38px;
    font-size: 30px;
    margin-bottom: 8px;
}
#text{
    margin-bottom: 8px;
    margin-left: 4rem;
    width: 500px;
}